body {
    text-align: center;
}

header {margin-bottom: 30px; padding: 10px;}

fieldset, section{margin: 0 auto; }
section{border: 1px solid #999; padding: 20px; margin-bottom: 5px; background-color: rgb(240, 240, 240);}
fieldset{width: 380px; text-align: left;}
h2 {padding-bottom: 15px; text-transform: uppercase;}
label {width: 150px;}
ul li{list-style-type: none;}